@model List<ResultBookingDto>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/AdminLayout/_AdminLayout.cshtml";
	int count = 0;
}

<div class="card-title">
	<h4>Table Hover</h4>
</div>
<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Misafir</th>
				<th>Giriş Tarihi</th>
				<th>Çıkış Tarihi</th>
				<th>Durum</th>
				<th>Onayla</th>
				<th>İptal Et</th>
				<th>Beklet</th>
				<th>Güncelle</th>
				<th>Detaylar</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				count++;
				<tr>
					<td>@count</td>
					<td>@item.Name</td>
					<td>@item.Checkin.ToString("dd-MMM-yyyy")</td>
					<td>@item.Checkout.ToString("dd-MMM-yyyy")</td>
					@if (item.Status == "onaylandı")
					{
						<td><span class="badge badge-dark px-2">@item.Status</span></td>
					}
					else
					{
						<td><span class="badge badge-primary px-2">@item.Status</span></td>
					}

					<td><a href="/Admin/BookingAdmin/ApprovedReservastion/@item.BookingId" class="btn btn-outline-primary">Onayla</a></td>
					<td><a href="/Admin/BookingAdmin/" class="btn btn-outline-danger">İptal Et</a></td>
					<td><a href="/Admin/BookingAdmin/" class="btn btn-outline-warning">Beklet</a></td>
					<td><a href="/Admin/BookingAdmin/" class="btn btn-outline-info">Güncelle</a></td>
					<td><a href="/Admin/BookingAdmin/" class="btn btn-outline-dark">Detaylar</a></td>
				</tr>
			}

		</tbody>
	</table>

</div>

